@use '@/styles/vars' as v;



.gira {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 64px 0px 80px;

    a {
        border-radius: 12px;
        padding: 36px;

    }

}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 24px 0px 80px;

    a {
        border-radius: 12px;
        padding: 36px;

    }

}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 24px 0px 80px;

    a {
        border-radius: 12px;
        padding: 47px 52px;

        svg {
            fill: #6B7380;
        }

        &:hover {
            svg {

                fill: v.$primary;
            }
        }

        p {
            width: 189px;
        }


    }

}