.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;


  :first-child {
    margin-top: 0.15rem;
    margin-bottom: auto;
  }

  .title_cont {
    display: flex;
    align-items: center;
    gap: 1rem;
    i{
      margin-top: 0.25rem;
    }
  }

  .title_link {
    display: flex;
    align-items: center;
    gap: 1rem;
    // flex items-center gap-4
  }

  h1{
    text-transform: capitalize;
  }


}