@use 'vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import 'tailwind';
@import 'styles';
@import 'utils';
@import 'components';


.paginas-interes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  padding: 41px 0px;
  border: 2px solid v.$ligh1;
  background-color: v.$Gray1;
  border-radius: 12px;

  &:hover,
  &:target,
  &:focus {
    color: v.$primary;
    border: 2px solid v.$ligh3;
    background-color: v.$ligh1;
  }

  @media (min-width:v.$md) {
    flex-direction: column;

    background-color: transparent;
    border: 2px solid transparent;

    &:hover,
    &:target,
    &:focus {
      color: v.$primary;
      border: 2px solid v.$ligh3;
      background-color: v.$ligh1;
    }

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
    }

  }

  p {
    width: 314.67px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss02' on;
  }
}

form {
  &.form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;




    .group-inline {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-bottom: 0.75rem;
      @apply lg:flex-row;

    }

    .form-control {
      @apply flex flex-col w-full ;
      label {
        @apply mb-1 lg:mb-2
      }
    }

    .single {
      display: flex;
      flex-direction: column;

      label {
        @apply mb-1 lg:mb-2
      }
    }

    select,
    textarea,
    input {
      border: solid 1.5px v.$ligh1;
    }
  }
}

footer {
  background: v.$primary;
  color: white;

  img {
    height: 64px;
    width: 205px;
    left: 24px;
    top: 24px;
    border-radius: 0px;

  }

  ul {

    li {
      margin-bottom: 16px;

      a {
        text-transform: capitalize;

        &:hover {
          text-decoration-line: underline;
          text-underline-offset: 2px;
        }

      }
    }

    :last-child {
      margin-bottom: 0px;
    }
  }



  .copyright {
    color: v.$ligh3;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
}


// ******** Tramites ***********//

.slect-form-consulta{
  @apply flex border-b mb-9;

  >div{
      width: 100%;
      padding: 16px;
      @extend .flex-center;
      border-bottom: 3px solid transparent;

  }
  .active{
      background-color: v.$Gray1;
      color: v.$primary;
      font-weight: 700;
      border-bottom: 3px solid v.$primary;

  }
}
