.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 88.2%;
    position: relative;
    height: auto;


    @media (min-width: v.$lg ) {
        width: 1360px;
    }

}

.card-shadow {
    background: #D9D9D9;
    box-shadow: 0px 8px 8px rgba(10, 76, 138, 0.04), 0px 12px 36px rgba(10, 76, 138, 0.12);

}

.drow-shadow {
    background: #D9D9D9;
    box-shadow: 0px 8px 8px rgba(10, 76, 138, 0.04), 0px 24px 36px rgba(10, 76, 138, 0.12);
}

.rag-g {
    background: radial-gradient(88.82% 88.82% at 50% 49.9%, rgba(0, 84, 164, 0) 0%, rgba(0, 84, 164, 0.177083) 29.17%, #0054A4 100%);
}



// BORDERS

.border1 {
    border: 2px solid v.$ligh1;
    background-color: white;

    &.border1_form {
        border-radius: 12px;
        padding: 20px;

        @media (min-width:v.$lg) {
            padding: 2rem;
        }
    }

}

.border2 {
    border: 3px solid v.$ligh3;
    position: relative;

    &:hover,
    &:target,
    &:focus {

        border: 3px solid v.$ligh3;
    }
}

.card-hover,
.border3 {

    color: black;
    cursor: pointer;
    transition: all .1s ease;
    position: relative;
    border: 2px solid v.$ligh1;
    background-color: v.$Gray1;
    border-radius: 16px;

    &:hover,
    &:target,
    &:focus {
        color: v.$primary;
        border: 2px solid v.$ligh3;
        background-color: v.$ligh1;
    }
}

.hover1 {
    color: black;
    cursor: pointer;
    transition: all .1s ease;

    &:hover,
    &:target,
    &:focus {
        color: v.$primary;
    }

    &.no-pointer {
        cursor: auto;

    }
}


.box {
    box-shadow: 0px 8px 8px rgba(10, 76, 138, 0.04), 0px 12px 36px rgba(10, 76, 138, 0.12);
    border-radius: 8px;
}



.bg-primary {
    background-color: v.$primary;
    color: white;
}

.img {
    object-fit: cover;
}



.svg_rp {
    svg {
        width: 100%;
        height: 100%;
    }
}


.subtitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    h1,h2,h3,h4,h5,h6{
        margin: 0px;
    }

}