@use '@/styles/vars' as v;

.footer {
    margin-top: 120px;
    border-top: 2px solid v.$ligh1;
    padding: 64px 0px 100px;

    .footerContent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 87px;

        .col {
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;

            li {
                margin-bottom: 12px;

                a {
                    text-transform: capitalize;

                    &:hover {
                        text-decoration-line: underline;
                        text-underline-offset: 2px;
                    }

                }
            }

            :last-child {
                margin-bottom: 0px;
            }
        }

        div {

            .copyright {
                color: v.$Gray1;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}
