$black: #0F1620;
$white: #FFFFFF;
$white-hover: #F7F8FB;
$gray: #CAD0D9;
$gray-ligh: #EBEDF0;
$gray-dark: #6B7380;

$ligh: #EBF5FF;
$ligh-hover: #E0EAF4;

$primary-ligh: #80AAD2;
$primary: #0054A4;
$primary-dark: #053D80;


$dorado: #A39161;
$green: #149849;
$blue: #1771C7;
$red: #FF3737;


// $width: 1280px;
$width: 80%