$Gray1: #F9FCFF;
$Gray2: #EBEDF0;
$Gray3: #CAD0D9;
$Gray4: #6B7380;

$ligh1: #E0EAF4;
$ligh2: #EBF5FF;
$ligh3: #80AAD2;

$primary: #0054A4;
$primary-dark: #053D80;

$dorado: #A39161;
$green: #149849;
$blue: #1771C7;
$red: #FF3737;

$sm: 360px;
$md: 768px;
$lg: 1160px;
$xl: 1360px;
