@use 'vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  // border: solid 1px red;
  transition: all .5s ease;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss02' on;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100vh;
  border: 1px solid white;
}

.title {
  background: radial-gradient(143.01% 142.92% at 0.56% 109.68%, #FEC053 0%, #F2203E 33%, #B729A8 65%, #5342D6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  // @extend .border1;
  width: v.$width;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.center {
  display: flex;
  align-items: center;
}

.file-list {
  li {
    display: flex;
    padding: 12px;

    button {
      margin-left: auto;
    }

    &:nth-child(even) {
      background: v.$white-hover;
    }

  }
}


.border2 {
  z-index: 100;
  border: 3px solid v.$ligh-hover;
  position: relative;

  &:hover,
  &:target,
  &:focus {
    z-index: 100;
    border: 3px solid v.$primary-ligh;
  }
}

.pagination {



  li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: v.$primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    &:nth-child(1n) {

      &:nth-child(even) {
        background: v.$white-hover;
      }
      &:last-child{
        background-color: white;
      }

    }


  }

}