@use 'vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss02' on;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}



main {
  height: 100vh;
  border: 1px solid white;
}

// STYLES
.title {
  background: radial-gradient(143.01% 142.92% at 0.56% 109.68%, #FEC053 0%, #F2203E 33%, #B729A8 65%, #5342D6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  
}
h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

h6 {
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
}



//  TAGS
button {
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
  outline: 3px solid transparent;
  outline-offset: 2px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 14px;
  }

  &:hover {
    box-shadow: 0px 8px 8px rgba(23, 113, 199, 0.04), 0px 12px 36px rgba(23, 113, 199, 0.12);
  }


  &.primary {
    background-color: v.$primary;
    color: white;

    &:hover {
      background-color: v.$primary-dark;
    }
  }

  &.outline {
    @extend .border1;
    background-color: v.$white;
    color: v.$black;

    &:hover {
      color: v.$white;
      background-color: v.$primary;
    }
  }

  &.xls {
    @extend .border1;

    svg {
      fill: v.$green;
    }

    &:hover {
      color: v.$white;
      background-color: v.$green;

      svg {
        fill: v.$white;
      }
    }
  }

  &.pdf {
    @extend .border1;

    svg {
      fill: v.$red;
    }

    &:hover {
      color: v.$white;
      background-color: v.$red;

      svg {
        fill: v.$white;
      }
    }
  }

  &.cvs {
    @extend .border1;

    svg {
      fill: v.$blue;
    }

    &:hover {
      color: v.$white;
      background-color: v.$blue;

      svg {
        fill: v.$white;
      }
    }
  }

}

input {
  @extend .border2;
  text-align: left;
  border-radius: 12px;
  padding: 12px 16px;
  color: v.$gray;
  background-color: transparent;
  &:target,&:focus{
    color: v.$black;

  }
}

li{
  text-transform: capitalize;
}

.container{
  // @extend .border1;
  width: v.$width;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}


// BORDERS
a {
  color: v.$primary;
  &:hover {
    color: v.$primary-dark;

  }
}

.border1 {
  border: 2px solid v.$ligh;
  &:hover {
    border: 2px solid transparent;
  }
}

.border2 {
  border: 2px solid v.$ligh;

  &:hover,&:target,&:focus {
    border: 2px solid v.$primary-ligh;
  }
}

.hover1{
  color: black;
  &:hover,&:target,&:focus {
    color: v.$primary;
  }

}