* {
  box-sizing: border-box;
  padding: 0;
  transition: all .5s ease;
  // border: solid 1px red;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'ss02' on;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100vh;
  border: 1px solid white;
}


.img {
  object-fit: cover;
}