@use 'vars' as v;


// BORDERS

.border1 {
    border: 2px solid v.$ligh1;

    &:hover {
        border: 2px solid transparent;
    }
}

.border2 {
    border: 3px solid v.$ligh3;
    position: relative;

    &:hover,
    &:target,
    &:focus {

        border: 3px solid v.$ligh3;
    }
}

.hover1 {
    color: black;
    cursor: pointer;
    transition: all .1s ease;

    &:hover,
    &:target,
    &:focus {
        color: v.$primary;
    }
}

// a {
//     color: v.$primary;

//     &:hover {
//         color: v.$primary-dark;
//     }
// }

hr {

    &.sub {
        margin-top: 24px;
        @apply border-t-4 border-[#0054A4] w-[64px]
    }
}


// STYLES
h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;

    &.post {
        font-weight: 700;

    }
}

h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;

    &.article {
        font-weight: 700;

    }

    &.marco {
        color: #0054A4;
        font-weight: 700;

    }


}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;

    &.article {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

h6 {
    font-size: 40px;
    font-weight: 800;
    line-height: 54px;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 8px;
    outline: 3px solid transparent;
    outline-offset: 2px;
    display: flex;
    align-items: center;

    svg {
        margin-right: 14px;
    }

    &:hover {
        box-shadow: 0px 8px 8px rgba(23, 113, 199, 0.04), 0px 12px 36px rgba(23, 113, 199, 0.12);
    }

    &.primary {
        background-color: v.$primary;
        color: white;

        &:hover {
            background-color: v.$primary-dark;
        }
    }

    &.contact {
        @apply rounded-full;
        background-color: v.$primary;
        color: white;
        padding: 12px 24px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: v.$primary-dark;
        }

    }

    &.outline {
        @extend .border1;
        background-color: white;
        color: black;

        &:hover {
            color: white;
            background-color: v.$primary;
        }
    }

    &.xls {
        @extend .border1;

        svg {
            fill: v.$green;
        }

        &:hover {
            color: white;
            background-color: v.$green;

            svg {
                fill: white;
            }
        }
    }

    &.pdf {
        @extend .border1;

        svg {
            fill: v.$red;
        }

        &:hover {
            color: white;
            background-color: v.$red;

            svg {
                fill: white;
            }
        }
    }

    &.cvs {
        @extend .border1;

        svg {
            fill: v.$blue;
        }

        &:hover {
            color: white;
            background-color: v.$blue;

            svg {
                fill: white;
            }
        }
    }

}

textarea,
select,
input {
    @extend .border2;
    text-align: left;
    border-radius: 12px;
    padding: 12px 16px;
    color: v.$Gray1;
    background-color: transparent;

    &:empty,
    &:target,
    &:focus {
        outline-color: v.$primary;
        color: black;
    }
}

label {
    font-weight: 700;

}

small {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
}


li {
    text-transform: capitalize;
}

p {
    white-space: pre-wrap;
}

img {
    width: 100%;
    height: auto;
    // object-fit: cover;
    object-fit: none;

    &.custom {
        object-fit: cover;
    }

    &.cover {
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &.post {
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
    }
}

.box {
    box-shadow: 0px 8px 8px rgba(10, 76, 138, 0.04), 0px 12px 36px rgba(10, 76, 138, 0.12);
    border-radius: 8px;
}