@use 'vars' as v;



button {
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 20px 26px;
    border-radius: 8px;
    outline: 3px solid transparent;
    outline-offset: 2px;
    display: flex;
    align-items: center;

    &.icon{
        gap: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        margin-right: 14px;
    }

    &:hover {
        box-shadow: 0px 8px 8px rgba(23, 113, 199, 0.04), 0px 12px 36px rgba(23, 113, 199, 0.12);
    }

    &.primary {
        background-color: v.$primary;
        color: white;

        &:hover {
            background-color: v.$primary-dark;
        }
    }

    &.contact {
        @apply rounded-full;
        background-color: v.$primary;
        color: white;
        padding: 12px 24px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: v.$primary-dark;
        }

    }

    &.outline {
        @extend .card-hover;
    }

    &.xls {
        @extend .border1;

        svg {
            fill: v.$green;
        }

        &:hover {
            color: white;
            background-color: v.$green;

            svg {
                fill: white;
            }
        }
    }

    &.pdf {
        @extend .border1;

        svg {
            fill: v.$red;
        }

        &:hover {
            color: white;
            background-color: v.$red;

            svg {
                fill: white;
            }
        }
    }

    &.cvs {
        @extend .border1;

        svg {
            fill: v.$blue;
        }

        &:hover {
            color: white;
            background-color: v.$blue;

            svg {
                fill: white;
            }
        }
    }

}

textarea,
select,
input {
    @extend .border1;
    text-align: left;
    border-radius: 12px;
    padding: 12px 16px;
    color: black;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.02em;
    outline-color: v.$primary;

}

label {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}



li {
    text-transform: capitalize;
}



// img {
//     width: 100%;
//     height: auto;
//     // object-fit: cover;
//     object-fit: none;

//     &.custom {
//         object-fit: cover;
//     }

//     &.cover {
//         height: 100%;
//         object-fit: cover;
//         display: block;
//     }

//     &.post {
//         border-radius: 8px;
//         object-fit: cover;
//         object-position: center;
//     }
// }



