@use '@/styles/vars' as v;

.carrusel {
    div {
        height: 100%;
        width: 100%;
        &.main {
            figure {
                img {
                    width: 1280px;
                    height: 620px;
                    border-radius: 8px;
                    object-fit: cover;
                }
            }
        }
        &.galery {
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            button {
                svg {
                    margin: 0px;
                }
            }

            .menu{
                gap: 24px;
                background-color: red;
                width: 996px;
                display: flex;
                @apply snap-x overflow-scroll scroll-smooth;

                figure {
                    @apply snap-start flex flex-shrink-0 w-auto mx-4;
    
                    img {
                        width: 193px;
                        height: 130px;
                        border-radius: 8px;
                        flex: none;
                        order: 3;
                        flex-grow: 0;
                        object-fit: cover;
                    }
                }
            }
        }

    }
}

// #__next > main > p > figure.wp-block-image

.article {
    margin: 0px;
    padding: 0px;

    p {
        padding: 0px;
        margin: 0px;
    }


    figure {
        display: flex;
        padding: 0px;

        img {
            object-fit: contain;
        }

        figure {
            img {
                margin: 0px;
                height: auto;
                object-fit: cover;
            }
        }
    }

}


.carrusel_slider {
    transition: all 5s ease;
    position: relative;
    display: hidden;
    .slider {
        // grid
        --n: 1;
        --g: 0px;
        @media (min-width: v.$md ) {
            --n: 1;
        }
  
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-align: start;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - (var(--n) - 1)*var(--g))/var(--n));
        grid-gap: var(--g);
  
        &.hidden {
            display: hidden;
        }
        .item_slider {
            // transition: all 0s ease;
  
            flex-shrink: 0;
            scroll-snap-align: start;
            width: 100%;
        }
  
  
    }
  
  
  
    .dot_control {
        display: flex;
        justify-content: center;
        gap: 16px;
  
        div {
            z-index: 50;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: v.$Gray2;
            cursor: pointer;
  
            &:hover,
            &.active {
                background-color: v.$primary;
            }
        }
  
  
        @media (min-width: v.$md ) {
            padding-top: 0px;
  
  
            div {
                width: 12px;
                height: 12px;
            }
        }
    }
  
  
  
  }