@use '@/styles/vars' as v;

.carrusel{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    button{
        svg{
            margin: 0px;
        }
    }
}   

// #__next > main > p > figure.wp-block-image

.article{
    margin: -88px 0px -64px;
    padding: 0px; 
    p{
        padding: 0px;
        margin: 0px;
    }


    figure{
        display: flex;
        padding: 0px;    
        img{
            object-fit: contain;
        }   
        figure{           
            img{
                margin: 0px;
                height: auto;
                object-fit: cover;
            }
        }
    }

}

