@use '@/styles/vars' as v;
@import '@/styles/utils';



.path {
    @extend.flex-center;
    gap: 12px;
    height: 50px;
    div {
        @extend.flex-center;
        gap: 12px;
        svg {
            margin-top: 3px;
        }
    }

    :last-child {
        a {
            color: black;
            font-weight: 700;
            cursor: not-allowed;
            text-decoration: none;
            pointer-events: none;
        }

        svg {
            display: none;
        }
    }
}